
/* Labels */
.label { /* Cor da Label */
    -fx-text-fill: #FAFAFA;
}
/* Background */
.login-view10 {
    -fx-background-color: #2F405A;
}
/* cor da label: Branco */
.login-view10 label {
    -fx-text-fill: #FFFFFF;
}
/* Botoes */
.button-glass {
    -fx-background-color: #FF5722; /* Laranja queimado */
    -fx-text-fill: white;
    -fx-padding: 15px 25px;
    -fx-border-radius: 6px;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
.button-vibrant2 {
    -fx-background-color: #2196F3; /* Azul escuro */
    -fx-text-fill: white;
    -fx-padding: 15px 25px;
    -fx-border-radius: 6px;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
.button-soft4 {
    -fx-background-color: #1db877; /* Verde menta */
    -fx-text-fill: #333; /* Cinza escuro */
    -fx-padding: 12px 20px;
    -fx-border-radius: 8px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
.button-soft4:hover,
.button-vibrant2:hover,
.button-glass:hover {
    -fx-background-color: #FCD34D ; /* Escurece um pouco ao passar o mouse */
}
/* TxtField */
.textfield {
    -fx-border-color: #2196F3; /* Azul */
}





